
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}

body {
  font-family: 'Fredoka One', cursive;
  /*background-image: linear-gradient(to right, #F72585, #4CC9F0); */
  background-color: #ade8f4;
  color: black;
}

.container {
  /*border: 1px solid black; */
  width: 95%;
  margin: auto;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  margin: 25px 0px;
  padding: 10px;
}

.nav h2 {
  font-size: 2rem;
}

.nav i {
  padding-right: 10px;
}

.user-input {
  /*border: 1px solid black; */
  width: 400px;
  text-align: center;
}

.user-input input {
  width: 80%;
  outline: none;
  padding: 8px;
  border: 1px solid lightgray;
  border-radius: 10px 100px / 120px;
  margin: 10px;
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  transition: all 0.30s ease-in-out;
}

.user-input input:focus {
  box-shadow: 0 0 5px lightgray;
  border: 4px solid lightgray;
}

.user-input button {
  cursor: pointer;
  width: fit-content;
  outline: none;
  padding: 8px;
  border: 1px solid lightgray;
  border-radius: 10px 100px / 120px;
  font-family: 'Fredoka One', cursive;
}

.user-input button:hover {
  background-color: darkgray;
  color: white;
  border: 4px solid white;
}

.to-do-items {
  /*border: 1px solid black; */
  width: 500px;
  margin: auto;
}

.item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: auto;
  background-color: white;
  border: 1px solid lightgray;
  border-radius: 10px 100px / 120px;
  padding: 6px;
  margin-top: 10px;
  font-size: 1rem;
  /*text-transform: uppercase; */
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  transition: all 0.30s ease-in-out;
}

.item:hover{
  box-shadow: 0 0 5px lightgray;
  border: 4px solid lightgray;
}

.item i {
  cursor: pointer;
  margin: 0px 5px;

}


#check {
  color: red;
}


.done {
  text-decoration: line-through;
}

@media(max-width:768px){
  .nav {
    align-items: center;
    flex-direction: column;
  }

  .nav h2 {
    margin: 10px 0;
  }

  .user-input, .to-do-items{
    width: 100%;
  }
}

@media(max-width:480px){
  .user-input input, .to-do-items {
    width: 74%;
  }
}

@media(max-width:320px){
  .user-input input, .to-do-items {
    width: 60%;
  }
}
